
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Log in with your account</title>
</head>

<body>
<div>
  <table>
    <thead>
    <th>ID</th>
    <th>UserName</th>
    <th>Password</th>
    <th>Roles</th>
    </thead>
    <div th:each ="user : ${allUsers}">
      <tr>
        <td th:text = "${user.id}"></td>
        <td th:text = "${user.username}"></td>
        <td th:text = "${user.password}"></td>
        <div th:each ="role : ${user.roles}">
          <td th:text = "${role.name}"></td>
        </div>
        <td>
          <form method="post">
            <input type="hidden" name="userId" th:value="${user.id}"/>
            <input type="hidden" name="action" th:value="delete"/>
            <button type="submit">Delete</button>
            <a type="submit" th:href="'/admin'+'/'+${user.id}+'/'+'edit'">Edit</a>
          </form>
        </td>
      </tr>
    </div>
  </table>
  <a href="/">Главная</a>
</div>
</body>
</html>
